bin/
tmp*
.idea/
web/s3/*
!web/s3/*.py
.ipynb_checkpoints
*.db
fa
*.test
*.cpu
*.mem
profile*.svg
lib/ctx
ellis-chen
.go
.go-build
vendor
deployments/.env
logs
users/
__debug_bin
fa*
version.txt
commit.txt
.env
dist
share
.fadb